<!DOCTYPE html>
<html ng-app="oreshekNews">
<head>
    <title>Oreshek News</title>
    <!--Third-party Libraries-->
    <link href="libraries/bootstrap-theme.css" rel="stylesheet" />
    <link href="libraries/bootstrap.css" rel="stylesheet" />
    <script src="libraries/angular.min.js"></script>
    <!--Application scripts-->
    <script src="js/app.js"></script>
</head>
<body>
    <div class="container" ng-controller="OreshekNewsController as newsCtrl">
        <form name="chooseSectionForm" ng-submit="chooseSection(currentSection)">
            <fieldset class="form-group">
                <select ng-model="currentSection" class="form-control" ng-options="news for news in [sections[0], sections[1], sections[2], sections[3],
                                                                                                              sections[4], sections[sections.length - 1]]" title="Stars" required>
                    <option value="">Choose news section</option>
                </select>
            </fieldset>
            <fieldset>
                <input type="submit" class="btn btn-primary" value="Submit decision" />
            </fieldset>
        </form>
        <div>
            <ul ng-repeat="section in allSections">
                <li><a href="#">{{section}}</a></li>
            </ul>
        </div>
        <div>
            <ul ng-repeat="article in articles">
                <li><a href="{{article.web_url}}">{{article.headline.main}}</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
