<!DOCTYPE html>
<html ng-app="oreshekNews">
<head>
    <title>Oreshek News</title>
    <link rel="shortcut icon" href="resources/graphic/favicon.png" type="image/png">
    <!--Third-party Libraries-->
    <link href="css/fonts.css" rel="stylesheet" />
    <link href="libraries/build/libs.min.css" rel="stylesheet" />
    <link href="css/build/build.css" rel="stylesheet" />
    <script src="libraries/build/libs.min.js"></script>  
    <!--Application scripts-->
    <script src="js/build/bundle.js"></script>
</head>
<body ng-controller="OreshekNewsController as newsCtrl"> 
    <div class="wrapper">
        <div class="content">
            <!--<header>
                <div class="player"></div>            
            </header>-->
            <player></player>
            <div class="header">
                    <div class="logo">
                        <!--<img src="resources/min/logo.png" ng-click="hideAll()" alt="logo" />-->
                        <h1 class="heading_ref" ng-click="hideAll()">Oreshek News</h1>
                    </div>
                    <p>Handy news-service to keep track last trends and events of a world</p>
            </div>
            <div class="main_section">
                <div class="page_body container">
                    <select-form></select-form>
                    <section-list></section-list>
                    <news></news>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="copyright">
                <p class="name">by Averin Vladislav&copy;</p>
                <a href="https://www.facebook.com/vladik.averin" target="_blank">Contact me</a>
            </div>
        </div>
    </div>
    <spinner></spinner>
</body>
</html>
